body{
    margin: 0;
}
.flex{
    display: flex;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.header{
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    border-bottom-style: solid;
    border-bottom-color:yellow;
    border-bottom-width: 3px;
}
.container{
    /* width: 98%; */
    margin-left: auto;
    margin-right:auto;
}

.top_left h3 a{ 
    text-decoration: none;
    color: yellow;
    margin-left: 10px;
    
}
.banner{
    background-image: url("http://placehold.it/1200x400");
    background-size: cover;
    height: 400px;
    padding:50px 0;
}

#banner section.container{
    /* width: 60%; */
    /* margin: 0 auto; */
    padding: 5px ;
    background-color: rgb(187, 184, 184);
}
#banner section h3{
    text-align: center;
    font-style: italic;
}

.text-block {
    position: absolute;
    bottom: 100px;
    right: 20px;
    background-color: white;
    color: black;
    background: rgba(255, 255, 255, 0.493);
    padding-left: 20px;
    padding-right: 20px;
    width:20%;
    height: 35%;
    
    /* opacity: 0.6; */
  }

.text-block button{
    border-style: none;
    background-color: yellow;
    padding: 10px 70px;
    border-radius: 3px;
    bottom: 50px;
    justify-content: space-between;
}
.flex{
    display:flex;
    /* flex-wrap: wrap; */
}
.walk_through .item{
    text-align: left;
    margin-right:20px;
    box-shadow: rgb(209 209 213) 0px 5px 15px;
    padding: 20px;
}

.item h4{
     text-decoration-style: solid;
 }
.item button{
    border-style: none;
    background-color: rgb(151, 149, 149);
    padding: 20px;
    border-radius: 3px;
    width:100%;
    height: 30%;
    text-align: center;
    
    
}
.walk_through .item:last-child{
    margin-right:0;
}
/* .text-block p{
      color: black;
}

.text-block h3 {
    color: black;
} */

/* .top_left .nav{
    text-decoration: none;
    color: yellow;
    text-decoration-style: solid;
} */